AWS_ACCOUNT=<your_aws_account_id, e.g. 1234567890>
AWS_REGION=<your_aws_region, e.g. us-east-1>

# AI Auto Reply configuration
AI_AUTO_REPLY_LAMBDA_SOURCE_PATH=../examples/lambda/
AI_AUTO_REPLY_LAMBDA_HANDLER=ai_auto_reply.handler
# AI_AUTO_REPLY_LAMBDA_LAYER_SOURCE_PATH=../examples/lambda/
# AI_AUTO_REPLY_DOMAIN_NAME=<your_domain_name, e.g. api.example.com>
# AI_AUTO_REPLY_DOMAIN_CERTIFICATE_ARN=<your_domain_certificate_arn, e.g. arn:aws:acm:xxxx>

# JD Resume Matcher configuration
JD_RESUME_MATCHER_LAMBDA_SOURCE_PATH=../examples/lambda/
JD_RESUME_MATCHER_QUICK_HANDLER=quick_handler.handler
JD_RESUME_MATCHER_WORKER_HANDLER=worker_handler.handler
# JD_RESUME_MATCHER_LAMBDA_LAYER_SOURCE_PATH=../examples/lambda/
# JD_RESUME_MATCHER_DOMAIN_NAME=<your_domain_name, e.g. api.example.com>
# JD_RESUME_MATCHER_DOMAIN_CERTIFICATE_ARN=<your_domain_certificate_arn, e.g. arn:aws:acm:xxxx>
# JD_RESUME_MATCHER_CLOUDFRONT_DOMAIN_NAME=<your_another_domain_name, e.g. cache.example.com>
# JD_RESUME_MATCHER_CLOUDFRONT_CERTIFICATE_ARN=<your_another_domain_certificate_arn, e.g. arn:aws:acm:xxxx>
